@import '~antd/es/style/themes/default.less';

.activity {
  margin-bottom: @margin-lg;
  .ant-card-head {
    &-wrapper {
      text-overflow: unset;
    }
    &-title {
      display: flex;
      overflow: unset;
      white-space: normal;
    }
  }

  .header {
    width: 100%;

    .first-row {
      width: 100%;
    }
    .second-row {
      display: flex;
      flex-flow: row wrap;
      gap: @padding-sm;
    }
  }

  .rating {
    padding: 4px 8px 4px 0px;
  }

  .action-buttons {
    width: 100%;
    display: flex;
    flex-flow: row;
    place-content: flex-end;
    gap: @margin-xs;
    padding: @margin-xs;
  }
}
