@import '~antd/es/style/themes/default.less';

.activity {
  .ant-card-head {
    &-wrapper {
      text-overflow: unset;
    }
    &-title {
      display: flex;
      overflow: unset;
      white-space: normal;
    }
  }
  .ant-card-body {
  }

  .header {
    width: 100%;

    .first-row {
      width: 100%;
    }
    .second-row {
      display: flex;
      flex-flow: row wrap;
      gap: @padding-sm;
    }
  }
}
