@import '~antd/es/style/themes/default.less';

.page {
  height: 100%;

  &-sider {
    &-layout {
      &-header {
        height: 79px;
        display: flex;
        flex-flow: row;
        place-content: center;
        place-items: center;
        padding: 0;
      }
    }
  }
  &-content {
    overflow-x: clip;
    background-image: linear-gradient(to left, #fff1eb 0%, #ace0f9 100%);

    & > * {
      min-width: 100vw;
      @media (min-width: @screen-xl-min) {
        min-width: unset;
      }
    }

    // & > * {
    // }
  }
}
