@import '~antd/es/style/themes/default.less';

.page {
  height: 100%;
  .page-sider {
    .page-sider-layout {
      .page-sider-layout-header {
        display: flex;
        flex-flow: row;
        place-content: center;
        place-items: center;
        padding: 0;
      }
      .page-sider-layout-content {
      }
    }
  }
  .page-content {
  }
}
