@import '~antd/es/style/themes/default.less';

.hero {
  width: 100%;
  flex-flow: column;
  place-content: flex-start;
  place-items: flex-start;
  background: white;
  border-left: @padding-lg solid @layout-sider-background;

  @media (min-width: @screen-md-min) {
    width: 400px;
  }

  .hero-header {
    background: @layout-header-background;
    width: 100%;
    padding: @padding-sm;
  }

  .hero-content {
    padding: @padding-lg;
  }
}
