@import '~antd/es/style/themes/default.less';

.hero {
  width: 100%;
  flex-flow: column;
  place-content: flex-start;
  place-items: flex-start;
  background: white;
  border-left: @padding-lg solid @primary-color;

  @media (min-width: @screen-md-min) {
    width: 400px;
  }

  .hero-brand-wrapper {
    background: @primary-color;
    width: 100%;
    padding: @padding-lg;
  }

  .hero-text {
    padding: @padding-lg;
  }
}
