@import '~antd/es/style/themes/default.less';

.auth-page {
  height: 100%;
  display: flex;
  flex-flow: column;
  place-content: center;
  place-items: center;
  background: center / cover no-repeat url('../../assets/bg.jpg');

  @media (min-width: @screen-md-min) {
    flex-flow: row;
  }

  .content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;

    @media (min-width: @screen-md-min) {
      width: auto;
      flex-flow: row;
    }
  }
}
