@import '~antd/es/style/themes/default.less';

@background-overlay-color: rgba(255, 255, 255, 0.8);

.auth {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background: @background-overlay-color;

  @media (min-width: @screen-md-min) {
    background: none;
    // place-content: center;
    // place-items: start;
  }

  .auth-wrapper {
    padding: @padding-lg;

    @media (min-width: @screen-md-min) {
      background: @background-overlay-color;
    }
  }

  .firebaseui-container {
    background: transparent;
    padding: @padding-lg;
    width: 100%;
    box-shadow: none;
  }
}
